<div class="item aboutimg"><img src="{{ assets_url }}/site/solidworks.webp" alt="3D models made with Solidworks"/></div>
{# <div class="item aboutimg"><img src="{{ assets_url }}/site/staad-pro.webp" alt="Structural FEA using STAAD Pro"/></div> #}
<div class="item aboutimg"><img src="{{ assets_url }}/site/autodesk.webp" alt="Engineering Drawings compatible with Autodesk DWG"/></div>
{# <div class="item aboutimg"><img src="{{ assets_url }}/site/mathcad.webp" alt="Engineering calculations with MathCAD"/></div> #}
{# <div class="item aboutimg"><img src="{{ assets_url }}/site/smath-studio.webp" alt="Engineering calculations with SMath Studio"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/nanocad.webp" alt="Technical drawings in DWG with NanoCAD"/></div> #}
{# <div class="item aboutimg"><img src="{{ assets_url }}/site/ansys.webp" alt="Stress Analysis done with Ansys FEA"/></div> #}
<div class="item aboutimg"><img src="{{ assets_url }}/site/cloud-compare.webp" alt="Point clouds processed with Cloud Compare"/></div>
{# <div class="item aboutimg"><img src="{{ assets_url }}/site/meshlab.webp" alt="Geometry processing with Meshlab"/></div> #}

{# <div class="item aboutimg"><img src="{{ assets_url }}/site/visual-basic-for-applications.webp" alt="Applications & macros made with VBA"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/visual-studio.webp" alt="Software developed in Visual Studio"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/c-sharp.webp" alt="Applications made with C#.NET"/></div> #}

<div class="item aboutimg"><img src="{{ assets_url }}/site/dropbox.webp" alt="File sharing & collaboration via Dropbox"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/ms-teams.webp" alt="Collaborate with us on MS Teams"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/zoom.webp" alt="Collaborate with us on Zoom"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/trello.webp" alt="Collaborate with us on Trello"/></div>

<div class="item aboutimg"><img src="{{ assets_url }}/site/access.webp" alt="Databases made with MS Access"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/excel.webp" alt="MS Excel Spreadsheets"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/word.webp" alt="Reports written using MS Word"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/powerpoint.webp" alt="Presentations made with MS Powerpoint"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/ms-outlook.webp" alt="Email & Calendar using MS Outlook"/></div>

{# <div class="item aboutimg"><img src="{{ assets_url }}/site/linkedin.webp" alt="Follow us on LinkeIn"/></div>
<div class="item aboutimg"><img src="{{ assets_url }}/site/upwork.webp" alt="Hire us on Upwork"/></div> #}