			<div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/daniel-popper.webp" alt="" width="100%"/></div>
			<div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/olg-engineering.webp" alt="" width="100%"/></div>
			<div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/spencer-group.webp" alt="" width="100%"/></div>
			<div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/thorworld-industries.webp" alt="" width="100%"/></div>
			<div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/visual-feeder.webp" alt="" width="100%"/></div>
			<div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/wa-cooke.webp" alt="" width="100%"/></div>
			{# <div class="col-6 col-sm-3"><img src="{{ assets_url }}/site/wefco.webp" alt="" width="100%"/></div> #}
			{# <div class="col-6 col-sm-3"><img src="{{ assets_url }}/site/goodwin-steel-castings.webp" alt="" width="100%"/></div> #}
			{# <div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/glassworks-hounsell.webp" alt="" width="100%"/></div> #}
			{# <div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/james-fisher-nuclear.webp" alt="" width="100%"/></div> #}
			{# <div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/abacus-design.webp" alt="" width="100%"/></div> #}
			{# <div class="col-6 col-sm-2"><img src="{{ assets_url }}/site/cityscape-digital.webp" alt="" width="100%"/></div> #}