<section class="section" id="about">
    <div class="container">
        <div class="title">
            <h2>ABOUT</h2>
            <div class="titleline"></div>
        </div>
        
        <div class="aboutext">
            <br>
            <span class="aboutext-left">
                <a href="https://www.linkedin.com/in/frugal-tom-hartley" target="_blank">
                    <img src="{{ theme_url }}/img/profile-photo_li.webp" alt="Connect with Tom Hartley on LinkedIn!"/>
                </a>
                <div class="inline-heading">
                    <h3>Tom Hartley </h3>
                    <p>
                        is a Chartered Mechanical Engineer, member of the Institute of Mechanical Engineers and member of the Institute of Engineering Designers. He's a time-served 3D CAD/CAE engineer, a qualified Product Design & Manufacturing Engineer, self-taught programmer & database developer, and an inquisitive systems engineer!
                    </p>
                </div>
                <br>
                <p>
                    He's probably the only Freelance Engineering Designer in East Yorkshire who can rapidly develop simple yet effective engineering designs from early-stage concept to full manufacturing detail, for pragmatic firms who just want to work with a dedicated & reliable engineer that knows what they're doing and who cares about their projects.
                </p>				
                <br>			
            </span>
            <div class="row">
                <div class="col-6 col-sm-3"><img src="{{ assets_url }}/site/chartered-engineer.webp" alt="CEng Chartered Engineer" width="100%"/></div>
                <div class="col-6 col-sm-3"><img src="{{ assets_url }}/site/imeche.webp" alt="IMechE" width="100%"/></div>
                <div class="col-6 col-sm-3"><img src="{{ assets_url }}/site/ied.webp" alt="MIED" width="100%"/></div>
                <div class="col-6 col-sm-3"><img src="{{ assets_url }}/site/made-in-britain.webp" alt="Made in Britain" width="100%"/></div>
            </div>
            <br>

            <span class="aboutext-right">
                <a href="https://www.linkedin.com/company/2757221" target="_blank">
                    <img src="{{ theme_url }}/img/follow-us-on-linkedin.webp" alt="Follow Frugal Design on LinkedIn!"/>
                </a>
                <div class="inline-heading">
                    <h3>Frugal Consultancy & Design </h3>
                    <p>
                        is a Freelance Consulting Engineer offering a range of consultancy & engineering design services to construction, engineering and manufacturing clients based in Hull, East Yorkshire and throughout the UK.
                    </p>
                </div>  
                <br>  
                <p>We were incorporated as a UK limited company in 2012, when Tom set out to develop & test a healthier, more productive working environment that he and other engineers & designers could benefit from. Being members of Made in Britain, all our fee-earning engineering, design & consultancy work is carried out in the United Kingdom.</p>
                <p>To discuss how we can help or for a free quotation, call Tom today on <a href="tel:+44(0)7376718310">07376 718 310</a>, or email him at <a href="mailto:hello@frugaldesign.co.uk">hello@frugaldesign.co.uk</a>, or send a message using the contact form below:</p>
                <br>
                <br>
            </span>					
                        
        </div>
        
    </div>
    
</section>