
			<title>{{ meta.title }}</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
			<meta property="og:title" content="{{ meta.title }}" name="title"/>
			{% if meta.description %}<meta property="og:description" name="description" content="{{ meta.description|striptags }}"/>{% endif %}
			
			<meta property="og:type" content="website"/>
			<meta property="og:url" content="{{ current_page.url }}"/>
			{% if meta.image %}<meta property="og:image" content="{{ meta.image|url }}" name="image"/>{% endif %}

			<meta property="og:author" content="{{ meta.author }}" name="author"/>
			{% if current_page %}<link rel="canonical" href="{{ current_page.url }}"/>{% endif %}

			{% if meta.robots %}<meta name="robots" content="{{ meta.robots }}"/>{% endif %}
			<link rel="icon" href="{{ theme_url }}/img/favicon.ico"/>
			<link rel="apple-touch-icon" href="{{ theme_url }}/img/favicon.ico"/>
			<link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.css" />
			<link rel="stylesheet" href="{{ theme_url }}/css/style.css" />
			<link rel="stylesheet" href="{{ theme_url }}/css/adaptive.css" />
			<script src="{{ theme_url }}/js/gtag.js"></script>

