<section class="section" id="portfolio">

    <h2 class="display-none">Portfolio</h2>

    <div class="container">

        <div class="owl-carousel owl-portfolio nenanowl">

            {# <div class="item">
                <div class="portfolio">
                    <div class="portfoliotem">
                        <div class="portfolioimg">
                            <a href="{{ base_url }}/blog/bridge-maintenance-bid-design-coordination" target="_blank">
                                <img src="{{ assets_url }}/blog/humber-f.webp" alt="3D Bid Models"/>
                            </a>
                        </div>
                        <div class="portfolioinfo">
                            <h3>
                                Tender Design Coordination <br>Bridge Maintenance Scheme
                            </h3>
                            <p>
                                We created a 3D bid coordination model & provided mechanical design support for our client's successful bid to replace rocker bearings on the Humber bridge.
                            </p>
                            <a class="btn btn-info" href="{{ base_url }}/blog/bridge-maintenance-bid-design-coordination" target="_blank">Read the case study</a>
                        </div>
                    </div>
                </div>
            </div> #}

            {# <div class="item">
                <div class="portfolio">
                    <div class="portfoliotem">
                        <div class="portfolioimg">
                            <a href="{{ base_url }}/blog/bridge-gantry-concept-design" target="_blank">
                                <img src="{{ assets_url }}/blog/kessock-f.webp" alt="3D Engineering Design Development"/>
                            </a>
                        </div>
                        <div class="portfolioinfo">
                            <h3>
                                Mechanical Concept Design <br>Bridge Maintenance Scheme
                            </h3>
                            <p>
                                We developed the concept design for a complex bridge gantry that won approval in principal and enabled our client to progress their design & build contract.
                            </p>
                            <a class="btn btn-info" href="{{ base_url }}/blog/bridge-gantry-concept-design" target="_blank">Read the case study</a>
                        </div>
                    </div>
                </div>
            </div> #}

            {# <div class="item">
                <div class="portfolio">
                    <div class="portfoliotem">
                        <div class="portfolioimg">
                            <a href="{{ base_url }}/blog/process-plant-design-coordination" target="_blank">
                                <img src="{{ assets_url }}/blog/waste-plant-f.webp" alt="3D Design Coordination Models"/>
                            </a>
                        </div>
                        <div class="portfolioinfo">
                            <h3>
                                Contract Design Coordination <br>Materials Handling Scheme
                            </h3>
                            <p>
                                We created a 3D design coordination model that enabled effective design management & delivery of our client's waste processing plant design contract.
                            </p>
                            <a class="btn btn-info" href="{{ base_url }}/blog/process-plant-design-coordination" target="_blank">Read the case study</a>
                        </div>
                    </div>
                </div>
            </div> #}
    
            <div class="item">
                <div class="portfolio">
                    <div class="portfoliotem">
                        <div class="portfolioimg">
                            <a href="{{ base_url }}/blog/complex-structure-concept-design" target="_blank">
                                <img src="{{ assets_url }}/blog/rwlv-structure-f.webp" alt="Fabricated Structure Design"/>
                            </a>
                        </div>
                        <div class="portfolioinfo">
                            <h3>
                                Structural Concept Design <br>Public Artwork Installation
                            </h3>
                            <p>
                                I designed a new & simplified structural frame for my client's bespoke sculpture, providing them with a more robust, more easily buildable & lower-cost design.
                            </p>
                            <a class="btn btn-info" href="{{ base_url }}/blog/complex-structure-concept-design" target="_blank">Read the case study</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="portfolio">
                    <div class="portfoliotem">
                        <div class="portfolioimg">
                            <a href="{{ base_url }}/blog/geodome-prototype-design" target="_blank">
                                <img src="{{ assets_url }}/blog/geodome-f.webp" alt="Sheet metal Design"/>
                            </a>
                        </div>
                        <div class="portfolioinfo">
                            <h3>
                                Structural Detail Design <br>Commercial Advertising Installation
                            </h3>
                            <p>
                                I modelled an off-the-shelf geodesic frame and designed a polypropylene folded facade which enabled my client to successfully prototype their new idea.
                            </p>
                            <a class="btn btn-info" href="{{ base_url }}/blog/geodome-prototype-design" target="_blank">Read the case study</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="portfolio">
                    <div class="portfoliotem">
                        <div class="portfolioimg">
                            <a href="{{ base_url }}/blog/access-platform-and-ramp-design" target="_blank">
                                <img src="{{ assets_url }}/blog/yard-ramps-f.webp" alt="Fabricated Structure Design"/>
                            </a>
                        </div>
                        <div class="portfolioinfo">
                            <h3>
                                Structural Detail Designs <br>Fabricated Access Ramps
                            </h3>
                            <p>
                                I developed existing & new product designs for a previous employer's range of fabricated steel ramps, which delivered massive weight & cost savings.
                            </p>
                            <a class="btn btn-info" href="{{ base_url }}/blog/access-platform-and-ramp-design" target="_blank">Read the case study</a>
                        </div>
                    </div>
                </div>
            </div>
        

        </div>

        <div class="owlsbuts"></div>
        
    </div>

</section>