<section class="section" id="services">
    <div class="container">
    
        <div class="title">
            <h2>SERVICES</h2>
            <div class="titleline"></div>
        </div>
        <br>
        {# <div class="aboutext">
            <p>We offer a range of services that draw upon our core competencies, experience & capabilities in a way to best suit your specific needs:</p>
        </div> #}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="cbox">
                    <div class="cboxtext">
                        <div class="cboximg">
                            <img src="{{ assets_url }}/site/services-consulting.webp" alt="Technical Consulting Services"/>
                        </div>
                        <h3>Technical Consulting</h3>
                        <p>My technical consultancy services aim to support, enable and improve the way your business delivers complex engineering & design projects.</p>
                        <p>I produce 3D coordination models that allow teams to better visualise & understand multidisciplinary designs, quickly find project information, and know with certainty what's going on.</p>
                        <p>I also create design systems & processes that can help to continually improve the way your teams deliver engineering & design in the longer term.</p>
                        <p>Find out more about my consultancy services:</p>
                        <h4><a class="btn btn-info" href="{{ base_url }}/design-coordination">Design Coordination</a></h4>
                        <h4><a class="btn btn-info" href="{{ base_url }}/systems-development">Systems Development</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="cbox">
                    <div class="cboxtext">
                        <div class="cboximg">
                            <img src="{{ assets_url }}/site/services-design.webp" alt="Engineering Design Services"/>
                        </div>
                        <h3>Engineering Design</h3>
                        <p>My engineering design services aim to provide you with an alternative option for getting outsourced mechanical & structural designs delivered reliably on an fixed-fee or hourly basis.</p>
                        <p>I produce high-quality engineering deliverables including 3D CAD, CAE/FEA, technical drawings, calculations & code-checks.</p>
                        <p>I'm comfortable developing designs at all stages, from initial research & problem definition, concept generation & development, through to detail design, verification & validation support.</p>
                        <p>Find out more about my design services:</p>
                        <h4><a class="btn btn-info" href="{{ base_url }}/mechanical-engineering">Mechanical Engineering</a></h4>
                        <h4><a class="btn btn-info" href="{{ base_url }}/structural-design">Structural Engineering</a></h4>
                    </div>
                </div>
            </div>
            {# <div class="col-12 col-md-4">
                <div class="cbox">
                    <div class="cboxtext">
                        <div class="cboximg">
                            <img src="{{ theme_url }}/img/services-modelling.webp" alt="CAD Services"/>
                        </div>
                        <h3>3D & 2D CAD</h3>
                        <p>We can also provide a 3D modelling & 2D drawing office service, acting in the role of CAD technician or draughtsman.</p>
                        <p>In this, you'll retain control of the design direction & responsibility for checking & approval, whilst we just produce high quality deliverables to your instruction.</p>
                        <p>Read more about:</p>
                        <h4><a class="btn btn-info" href="{{ base_url }}/3d-and-2d-cad">CAD Services</a></h4>
                    </div>
                </div>
            </div> #}
            <div class="col-12 col-md-6">
                <div class="bcbox">
                    <div class="bcboximtitle bctright">
                        <h3>Capability</h3>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">+ 3D CAD | Concept to Detail Modelling</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I maintain the latest fully-licensed version of Solidworks as my go to 3D CAD package, and also keep the previous couple of versions installed to support older projects.<p/>
                                    <p>My 3D CAD outputs are typically supplied as neutral STEP files which are usable in most 3D CAD packages, though I'm also able to deliver native Solidworks source files when required.<p/>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">+ 3D CAE | FEA Stress Analysis</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I use Bentley STAAD Pro for structural analysis of complex member & plate fabrications. This allows me to simulate stresses and deflections of structures and carry out code-checks to standards such as Eurocode 3.</p>
                                    <p>My 3D CAE outputs are typically provided as written reports in PDF format, though I'm also able to deliver native STAAD source files when required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">+ Hand Calculations & Code Checks</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I produce clear & symbolic engineering hand calculations using an engineering calculation software called SMath Studio. SMath is very similar in function and output to PTC MathCAD, a well-known piece of software to most professional engineering consultants.</p>
                                    <p>My hand calculations are typically delivered as well-presented, illustrated, fully-referenced and colour-coded reports in PDF format. I can also deliver the SMath source files and can provide exports in MathCAD xmcd format when required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">+ Finite Element Analysis (FEA)</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I'm competent in producing Ansys Structural finite element models to perform static and non-linear structural analyses.</p>
                                    <p>My FEA outputs are provided as well-presented, illustrated, fully-referenced and colour-coded reports in PDF format. I can also deliver the original native Ansys source files when required.</p>
                                    <p>Note: I don't maintain an Ansys license  - the overheads are quite prohibitative for a freelancer - but when needed can include for a leased license in your quotation, or you can source your own and allow me to use it temporarily for the project duration.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">+ Engineering Computing & Programming</a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I'm proficient in using a range of different programming languages & APIs to help solve engineering problems and automate engineering or business processes.</p>
                                    <p>These include: C#, VBA, SQL, HTML, Javascript, CSS and some other lesser known technologies & frameworks.</p>
                                    <p>My programming/software outputs tend to be console or simple GUI applications, as well as macros or plugins that function within "host" software like MS Office or various 3D CAD & engineering applications.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">+ Information Management</a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I am adept at managing bulk data and making databases to efficiently store relevant information to support and automate business and project managment processes.</p>
                                    <p>This capability tends to be focussed around design, engineering & manufacturing processes (because that is my background), but could also be appicable in other contexts.</p>
                                    <p>I can also review and simplify existing legacy systems (think slow, messy, glitchy Excel and Access applications), or I can build entirely new information management systems from a blank slate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">+ Qualified, Capable & Fully-Insured</a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I have a Master of Engineering (MEng) degree in Product Design & Manufacture, and then pursued continuing professional development (CPD) along a mechanical & structural engineering path. I became a Chartered Engineer through the Institute of Mechanical Engineers in 2012, and have completed many successful engineering design commissions on various subcontract & freelance bases since then.</p>
                                    <p>Frugal holds £250k professional indemnity insurance, and £1m public liability insurance. Open to considering projects with levels of liability above this, but in most cases recommend that an independent third party checker is also engaged to check and approve the fitness-for-purpose of any work outputs.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="bcbox">
                    <div class="bcboximtitle bctleft">
                        <h3>Experience</h3>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">+ Fabricated Structures & Mechanisms</a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Having begun my career working in the design office of a steel & aluminium fabricator, I have extensive experience designing, analysing and optimising fabricated structures.</p>
                                    <p>I specialise in unusual geometry/requirements and non-standard/complex fabrications that are difficult for designers to work with using 2D tools & traditional approaches. I'm adept at simplifying & rationalising designs down to their bare minimum, my usual aim being to reduce the effort & cost required to verify, manufacture, assemble & install my designs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">+ Materials Handling Equipment Design</a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I've developed product improvements & new products for many different materials handling applications across several sectors.</p>
                                    <p>Some of the mechanical handling designs I've worked on have included; mobile yard ramps, modular processing units, drum transfer bogies, chutes & conveyors, small cranes & lifting equipment, scissor lifts, moving stillages and manipulators.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">+ Access Equipment Design</a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I have experience developing front-end engineering designs (FEED) for many different & varied access solutions for construction schemes, nuclear decommissioning & site maintenance activities.</p>
                                    <p>Some of the access equipment designs I've worked on have included; remote retrieval systems, moving gantries, mobile work platforms, and many different platform, ladder & walkway installations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">+ Nuclear Decommissioning Schemes</a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I previously worked as a mechanical engineer in a large engineering design house with major nuclear industry clients. Working primarily on nuclear waste retrieval & processing schemes, I built a reputation for rapidly & reliably developing engineering design concepts into detailed 3D CAD models that enabled better collaboration and supported earlier client engagement and design acceptance.</p>
                                    <p>These skills were of particular value to feasibility studies, concept generation, concept design, front end engineering design (FEED), and bid & tender design.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">+ Bridge Maintenance & Access Schemes</a>
                                </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I've a good amount of experience developing tender & front-end engineering designs for a large Hull-based civil/structural contractor on many & varied schemes including suspension bridge refurbishment and construction projects having complex access requirements.</p>
                                    <p>I became known for being able to rapidly generate ideas and develop them in 3D CAD to be able to quickly present workable concept designs for comment & review. These designs have included such things as bespoke mechanical equipment, complex access plans and challenging temporary works designs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">+ Construction Design and Management</a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I've spent significant time supporting design managers on large design & build construction projects in the civil/structural sector.</p>
                                    <p>My approach - pairing 3D coordination models with effective information management systems - draws on those experiences, as well as the CDM regulations and standards including ISO 9001, BS 7000, ISO 10007 and ISO 19650.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">+ Design for Manufacture & Assembly</a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>I've applied & grown my DFMA capability through the many & varied professional engineering design projects successfully delivered for my clients to date.</p>
                                    <p>I use modern, parametric, constraint-based CAD to build accurate moving virtual prototypes of their designs to promote & support better collaboration with their end-clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="ctr-btn">
            <a class="btn btn-danger" href="#contact">Find out more!</a>
        </div> #}
        <br>
    </div>
</section>