<!DOCTYPE html>

	<html lang="en-GB">
	
        <head>
		    {% include "includes/head.twig" %}
		</head>
		
		<body>

			{% include "includes/nav.twig" %}

			<section class="banner" id="coordination">
				<div class="banner-item">
					<div class="container">
						<div class="banner-text">
							<h1><div class="h1-intro">Hire an experienced professional </div>Freelance 3D Design Coordinator</h1>
							<a class="btn btn-primary" href="#contact">LET'S TALK COORDINATION</a>
						</div>
					</div>
				</div>
				<div id="intro">
					<div class="container aboutext">
						<div class="inline-heading">
							<h2>3D Design Coordination </h2>
							<p>involves the planning, creation, monitoring & control of a design coordination process and master 3D design model to support an extended design team as they develop a multidisciplinary design. That design could be an engineered product, a process plant or a piece of infrastructure with complex multidisciplinary interfaces, requirements, and constraints. Good design coordination calls for a broad skillset which includes effective information management and advanced 3D modelling in addition to relevant technical knowledge, attention to detail and design development know-how.</p>
						</div>
						<br>
						<p>Frugal offers professional & affordable 3D design coordination consultancy across a broad range of sectors. To discuss your requirements and for a quotation, call Tom on <a href="tel:+44(0)7376718310">07376 718 310</a> or email him at <a href="mailto:hello@frugaldesign.co.uk">hello@frugaldesign.co.uk</a></p>
					</div>
				</div>
			</section>

			<section id="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Outsource 3D coordination to Frugal</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-3">
							<img src="{{ assets_url }}/site/coordination-man.webp" alt="A 3D design coordinator reviewing and discussing construction designs with clients." width="100%"/>
						</div>
						<div class="col-12 col-md-9 aboutext">	
							<p>Frugal can act as your independent external 3D model coordinator to support your in-house tender & delivery teams on an ad-hoc freelance basis, or on a temporary or part-time subcontract basis. By commissioning Frugal and working directly with our Principal Engineer & director Tom Hartley, you'll have your complex design or construction project under control in no time at all!</p>
							<p>Tom is an experienced 3D model manager and mechanical engineer, a member of the Institute of Mechanical Engineers since 2002, a Chartered Mechanical Engineer since 2012, and a member of the Institute of Engineering Designers.</p>
							<p>From his office in Hull, Yorkshire, Tom creates & manages multidisciplinary 3D models of your designs backed by a comprehensive model inputs register so that your teams can visualise the design, get all the information, and know exactly what's going on.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="cboximg">
									<img src="{{ assets_url }}/site/coord-visualise.webp" alt="Visualise"/>
								</div>
								<div class="bcboximtitle bct-orange">
									<h3>Visualise your design</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>Tom will create & maintain a detailed, accurate and fully-referenced 3D model that will allow your team to visualise & better understand the full extent of the multidisciplinary scheme and the context of their own contribution to the wider design.</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="cboximg">
									<img src="{{ assets_url }}/site/coord-get.webp" alt="Visualise"/>
								</div>
								<div class="bcboximtitle bct-green">
									<h3>Get all the information</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>Every 3D model element will be traceable to its source information. Tom uses a project information model workflow (PIM) to diligently register all the input information, making your reference material searchable, referencable, & rapidly retievable.</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="cboximg">
									<img src="{{ assets_url }}/site/coord-know.webp" alt="Visualise"/>
								</div>
								<div class="bcboximtitle bct-blue">
									<h3>Know what's going on</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>You'll be able to know with certainty what's going on in your design scheme by walking through the master model, or by getting the latest information from the PIM, or by consulting directly with Tom to get rapid answers to all your questions.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>		

			<section id="reviews">
				<div id="svc">
					<div class="row">
						<div class="col">
							<h2>What the clients say</h2>
						</div>
					</div>
						{% include "includes/reviews.twig" %}
				</div>
			</section>

			<section id="svc">
				<div class="container">

					<div class="row">
						<div class="col">
							<h2>3d Coordination modelling by an independent freelancer</h2>
						</div>
					</div>

					<br>
					<div class="row">
						<div class="col-12 col-md-6">
							<img src="{{ assets_url }}/site/coord-site-layout-2.webp" alt="" width="100%"/>
						</div>
						<div class="col-12 col-md-6 aboutext">
							<p>Tom's 3D design coordination models can add value at any stage of the engineering design lifecycle:
								<ul>
									<li>Feasibility Study</li>
									<li>Concept Design</li>
									<li>Front End Engineering Design / FEED Studies</li>
									<li>Bids & Tenders</li>
									<li>New Site/Factory/Plant Layouts</li>
									<li>Handover Packages</li>
									<li>Operation & Maintenance Manuals</li>
									<li>Asset & Facilities Management</li>
									<li>Contract Delivery</li>
								</ul>
							</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<h3 class="center-align">Tom's 3D model coordination service can support complex design & build <br>projects that involve medium to heavy engineering and site-based construction</h3>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-12 col-md-6">
							<img src="{{ assets_url }}/site/coord-site-layout-1.webp" alt="" width="100%"/>
						</div>
						<div class="col-12 col-md-6 aboutext">
							<p>Multidisciplinary 3D model coordination is something Tom has been doing since 2010 across a wide range of sectors, including:
								<ul>
									<li>Nuclear Decommissioning</li>
									<li>Bridges & Civil Infrastructure</li>
									<li>Materials Handling, Storage & Distribution</li>
									<li>Renewables & Sustainable Fuels</li>
									<li>OEM Manufacturing & Fabrication</li>
								</ul>
							</p>
							<p>His models range in size from hundreds to several thousands of model elements, and the sites he's modelled run up to around 2-3km square. Some of his models have been based on model input registers containing over 1700 input documents of varying formats.</p>
						</div>
					</div>

			<section id="svc" class="svc">
			
				<div class="container">

					<div class="row">
						<div class="col">
							<h2>BIM coordination for special projects</h2>
						</div>
					</div>

					<div class="row">
						<div class="col aboutext">
							<p>Whilst top Building Information Modelling (BIM) systems - like Revit, ArchiCAD & AECOsim - feature libraries & processes optimised for standard building design, the variety & complexity of bespoke construction & engineering design often means that BIM can be not quite the right tool for the job.</p>
							<p>Tom's niche is in providing BIM-like design coordination for high-value engineering & construction projects that are either too complex, time-consuming or costly to justify delivering on mainstream BIM platforms. He seeks to utilise low-cost alternatives in unison with your existing systems, and set up simple BIM-like processes that can deliver 80% of the benefit for 20% of the effort.</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<h3 class="center-align">Tom's niche is 3D design coordination for special projects in engineering <br>& construction where full BIM compliance is neither appropriate nor necessary</h3>
						</div>
					</div>

					<br>
					<div class="row">
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/coord-cde.webp" alt="" width="100%"/>
						</div>
						<div class="col-12 col-md-7 aboutext">
							<p>Tom will work with you to set up a simple common data environment (CDE) and implement a project database to control your project information, before then creating your 3D master coordination model and making sure your team can interact with it.</p>
							<p>His typical aim is to provide:</p>
							<ul>
								<li>Accurate & reliable 3D scheme models</li>
								<li>Effective multidisciplinary space management</li>
								<li>Consistent & easy document management</li>
								<li>Inclusive & productive design reviews & workshops</li>
								<li>Issue tracking, document registers & object schedules</li>
								<li>Regular model updates & content-rich progress reports</li>
								<li>Close collaboration with your extended project team</li>
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<h3 class="center-align">Specialist design coordination will help to reduce risk and raise the <br>quality of your designs, making it easier to fulfil your duties under CDM</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-7 aboutext">
							<p>Tom's 3D models & coordination process has helped CDM clients, principal designers, principal contractors and extended design supply chains to work more effectively and produce better designs by providing professional design coordination of the highest quality.</p>
							<p>Relevant requirements that affect & influence his approach invariably include:</p>
							<ul>
								<li>CDM | Construction (Design & Management) Regulations</li>
								<li>ISO 9001 | Quality Management</li>
								<li>BS 7000 | Design management systems</li>
								<li>ISO 19650 | Organization of information for construction works</li>
								<li>PAS 1192 | Specification for information management...</li>
								<li>ISO 16792 | Digital product definition data practices</li>
							</ul>
							
						</div>
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/coord-collaboration.webp" alt="" width="100%"/>
						</div>
					</div>

				</div>
			</section>		

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Best Design Coordination Tools & Reporting</h2>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>Since 2004 Tom has continually developed and improved his design coordination & design management tools, processes and capabilities across a broad range of live engineering design projects & construction design schemes.</p>
							<p>As a chartered engineer, he excels at researching & developing his knowledge, finding & applying new tools, and identifying or creating new systems & approaches to better manage and coordinate projects. Even when he needs to change the way he works, he enjoys stretching his traditional comfort zone and welcomes work in new areas/sectors.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7 aboutext">
							<h3>Modern Tools for 3D Design Coordination</h3>
							<p>Tom uses a broad & constantly expanding engineering tool kit and aims by default to issue deliverables in neutral formats so that all team members can view them right away whatever applications they have available and without needing to invest in expensive new specialist software. This often means IFC or STEP format 3D model files, and PDF format documents, though he can also provide native source files available when required.</p>
						</div>
						<div class="col-12 col-md-5">
							<div class="owl-carousel owl-capabilities">
								{% include "includes/_carousel-capabilities-coordination.twig" %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/example-deliverables.webp" alt="A short slideshow showing typical design deliverables produced by Frugal Design." width="100%"/>
						</div>
						<div class="col-12 col-md-7 aboutext">
							<h3>Regular Model Updates & Management Documents</h3>
							<p>Tom will issue model updates on a scheduled basis so that team members know the status of project information and can plan their work accordingly. He can also create & manage live documents & issue trackers, including documents like:
								<ul>
									<li>Registers - Risk, TQ, RFI etc</li>
									<li>Schedules - Plant items, penetrations etc</li>
									<li>Drawings - GA's, plans, elevations & sections</li>
									<li>Reports</li>
									<li>Presentations</li>
									<li>Spreadsheets</li>
								</ul>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>If you have specific custom information requirements for your project he will be able to configure his system & processes to accommodate these at the start of the project. Whatever best enables you to achieve your overall project objectives!</p>
						</div>
					</div>
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Your best option for design coordination?</h2>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>When it comes to coordinating your design projects, there are many options you might consider. We are a professional freelance 3D design coordination consultant, and so sit at number three on the following list of options:</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<img src="{{ assets_url }}/site/consultant-options.webp" alt="A cartoon representing a potential customer unsure which option to choose when it comes to getting their mechanical project delivered." width="100%"/>
						</div>
						<div class="col-12 col-md-8">
							<ol>
								<li>Commission an engineering design consultancy to design coordinate</li>
								<li>Hire a contract design coordinator</li>
								<li>Hire a professional freelance design coordinator</li>
								<li>Hire a low-cost freelance CAD designer to act as design coordinator</li>
								<li>Employ an engineer or 3D CAD designer to act as design coordinator</li>
								<li>Expect an engineering graduate or apprentice to act as design coordinator</li>
								<li>Try and coordinate the design yourself / in-house</li>
								<li>Don't use a design coordinator, just hope everything turns out well without!?</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<h3 class="center-align">A freelance design coordinator can be a great option <br>for a wide range of clients across a broad range of sectors</h3>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>The preceding options have pros and cons that you should consider carefully and realistically. Important things to consider when engaging the services of a design coordinator might include:</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7">
							<ul>
								<li>Their cost & overall value/ROI (these are different things)</li>
								<li>Their knowledge & capability</li>
								<li>The quality of their deliverables</li>
								<li>Their reliability, responsiveness & commitment to your project</li>
								<li>Whether they quote a fixed-fee or hourly rates</li>
								<li>How they report time & justify their charges</li>
								<li>Do they model themselves or delegate modelling to someone else?</li>
								<li>Do they work in 3D as standard or only do 2D?</li>
								<li>Is their modelling fully-referenced and auditable?</li>
								<li>Will they know your design & the project inside out?</li>
							</ul>
						</div>
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/things-to-consider.webp" alt="A notepad with 'Things to Consider' written on it in black marker pen." width="100%"/>
						</div>
					</div>

				</div>
			</section>

			<section id="svc" class="svc-iso">
				<div class="container">
					
					<div class="cbox">
						<br>
						<h2>With you throughout your design coordination journey</h2>
						<div class="cboxtext">
							<div class="aboutext">
								<p>Hiring an independent freelancer might not be your first thought when it comes to finding the best design coordinator, but there are benefits in doing so. Their agility & independence can be a key factor in the success of many project types for many different types of customer, and when compared to the other options, a freelancer's professional service can provide a competitive alternative on numerous fronts, including:</p>
							</div>
							<h3>&#10003; Being more cost-effective</h3>
							<h3>&#10003; Better quality work</h3>
							<h3>&#10003; More responsive & pragmatic</h3>
							<h3>&#10003; Low-risk & less commitment on your part</h3>
							<h3>&#10003; More invested, motivated & cares more about your overarching project</h3>				
							<br>
							<div class="aboutext">
								<p>Frugal has created value for a broad range of clients since 2012 in both subcontractor and independent freelancer capacities. And before Frugal Tom's professional work saw him deliver similar value for his previous employers and their many & varied end-clients.</p>
								<p>Just a small sample of firms Tom has worked with includes:</p>
							</div>
							<div class="row">
								{% include "includes/_client-logos.twig" %}
							</div>
							<div class="aboutext">
								<p>Tom is therefore able to draw upon significant experience of delivering complex 3D model & information management services for businesses that have included D&B contractors, OEMs, fabricators, owner-operators, architects, R&D partners and other design consultants.</p>
								<a class="btn btn-info" href="#contact">Please get in touch today if you require references</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section" id="contact">
				<div class="container">
					<div class="title">
						<h2>Let's talk 3D Design Coordination</h2>
						<div class="titleline"></div>
					</div>
					<div class="aboutext">
						<p>If you have a design coordination requirement in mind, or if you just have a question to ask, then please feel free to get in touch today:</p>
					</div>
					{% include "includes/contact.twig" %}
			    </div>
			</section>
			
			{% include "includes/footer.twig" %}

			{% include "includes/js.twig" %}
            <script src="{{ theme_url }}/js/frugal-home.js"></script>

		</body>
		
	</html>