<!DOCTYPE html>

	<html lang="en-GB">
	
        <head>
		    {% include "includes/head.twig" %}
		</head>
		
		<body>

			{% include "includes/nav.twig" %}

			<section class="banner" id="mechanical">
				<div class="banner-item">
					<div class="container">
						<div class="banner-text">
							<h1><div class="h1-intro">Hire an experienced professional</div>Freelance Mechanical Engineer</h1>
							<a class="btn btn-primary" href="#contact">LETS TALK MECHANICAL</a>
						</div>
					</div>
				</div>
				<div id="intro">
					<div class="container aboutext">
						<div class="inline-heading">
							<h2>MECHANICAL ENGINEERING DESIGN </h2>
							<p>is a process of developing systems of assemblies, sub-assemblies and individual parts that act together to serve a required function in a way that best meets defined requirements & constraints. It is a complex and iterative process that - to do well - calls for a broad range of skills, engineering rigour & design thinking, supplemented by relevant technical reference materials, professional design tools & proven design methods.</p>
						</div>
						<br>
						<p>Frugal offers professional & affordable mechanical engineering design consulting across a broad range of sectors. To discuss your requirements and for a quotation, call Tom on <a href="tel:+44(0)7376718310">07376 718 310</a> or email <a href="mailto:hello@frugaldesign.co.uk">hello@frugaldesign.co.uk</a>.</p>
					</div>
				</div>
			</section>

			<section id="svc">
				<div class="container">
					<div class="row">
						<h2>Outsource mechanical engineering design to Frugal</h2>
					</div>
					<div class="row">
						<div class="col-12 col-md-3">
							<img src="{{ assets_url }}/site/mechanical-man.webp" alt="A mechanical engineer working on a 3D design model." width="100%"/>
						</div>
						<div class="col-12 col-md-9 aboutext">
							<p>Frugal can provide external mechanical design support to your in-house team on an ad-hoc freelance basis, or a temporary or part-time subcontract basis. By commissioning Frugal and working directly with it's director & Principal Engineer Tom Hartley, your mechanical project will be making progress in no time!</p>
							<p>Tom is an experienced product designer and mechanical engineer, a member of the Institute of Mechanical Engineers since 2002, a Chartered Mechanical Engineer since 2012, and a member of the Institute of Engineering Designers.</p>
							<p>From his office in Hull, East Yorkshire, he provides mechanical engineering design services in areas that have included:</p>
						</div>
					</div>

					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><h4>+ Special Purpose Machinery</h4></a>
								</h3>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/bespoke-machines.webp" alt="Mechanical concept models for a) a tunnel lining segment loading machine, and b) a waste bin storage conveying module." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Special purpose machines - aka bespoke machines - need to meet a specific combination of requirements generally not achievable using standard COTS (commercial off-the-shelf) equipment.</p>
											<p>Tom’s previous experience in bespoke machine design has involved medium & heavy-duty engineering applications in nuclear decommissioning, energy, construction and manufacturing.</p>
											<p>He’s developed bespoke machines such as: a rapid opening closure for oil pipelines, a glass furnace batch charger, an automated paper belt smoothing knife, and various hinge & locking mechanisms for blast/shield doors.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><h4>+ Reverse Engineering of Legacy Mechanical Designs</h4></a>
								</h3>
							</div>
							<div id="collapse5" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/reverse-engineer-mechanical.webp" alt="A reverse engineered 3D model of a waste water treatment works scum beach fabrication." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Mechanical reverse engineering involves researching and deconstructing an existing mechanical artefact to determine its principles of operation and manufacture. The design details are then documented - typically as a baseline or reference 3d model - to support future product development activities.</p>
											<p>Tom has significant reverse engineering experience, a skill-set well matched to its many challenges, and a range of modern design tools & methods at his disposal.</p>
											<p>Working from a partial set of legacy drawings, photos, or even just rough measurements, Tom's research & development work can generate an astounding level of detail & insight into machines & structures whose designs were seemingly lost decades ago.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><h4>+ Materials Handling Equipment</h4></a>
								</h3>
							</div>
							<div id="collapse2" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/materials-handling-1.webp" alt="A 3D concept design model of a drum transfer bogie system with recovery winch." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Materials, mechanical or manual handling equipment includes mechanical products that enable the safe & effective movement/transfer, storage, control, and protection of materials (or products) as they pass through industrial processes (or logistics & distribution chains).</p>
											<p>Tom has developed product improvements and new products for numerous materials handling applications across several sectors. From small pieces of individual equipment like hoists, right up to complex integrated materials handling systems such as site conveyors.</p>
											<p>Some of the mechanical handling designs he’s worked on have included; mobile yard ramps, modular processing units, drum transfer bogies, chutes & conveyors, cranes, scissor lifts, moving stillages and manipulators.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><h4>+ Access Equipment</h4></a>
								</h3>
							</div>
							<div id="collapse3" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/access-equipment-1.webp" alt="A 3D detail design model of an articulated bridge maintenance gantry." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Access equipment covers mechanical products whose purpose is to enable safe access - usually for construction or maintenance operatives - to elevated, sunken or remote positions. It includes scaffolds, mobile elevated work platforms (MEWPs), access walkways, gangways, ladders, handrails, moving gantries, and suspended access platforms.</p>
											<p>Tom has a lot of experience developing front-end engineering designs for complex & varied access solutions for construction schemes, nuclear-decommissioning activities & site maintenance activities.</p>
											<p>Some of the access equipment designs he’s worked on have included; remote waste retrieval systems, moving maintenance gantries for bridges, mobile work platforms, and many bespoke platforms, ladders & walkway installations.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><h4>+ Pressure Vessels and Storage Tanks</h4></a>
								</h3>
							</div>
							<div id="collapse4" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/pressure-vessels-and-storage-tanks-1.webp" alt="Various stages of finite element analysis of a process vessel bottom chute subject to external pressure." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Pressure vessels and tanks are a group of mechanical apparatus used to store liquids or gases. Pressure vessels operate at above-atmospheric pressures, tanks operate at or very close to atmospheric pressure. The main categories include; storage tanks, process vessels, boilers, and heat exchangers.</p>
											<p>Tom has some experience in this area - albeit currently limited - but can support such projects when working in collaboration or under the guidance of an experienced & responsible pressure vessel engineer.</p>
											<p>In previous employment he developed several pressure vessel designs to standards including ASME VIII and PD5500, with the support & guidance of a subject matter expert. Working from the relevant standards, Tom developed calculations, CAE analyses & 3D CAD geometry models to take the pressure vessel designs from concept to full manufacturing detail.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="reviews">
				<div id="svc">
					<div class="row">
						<div class="col">
							<h2>WHAT THE CLIENTS SAY</h2>
						</div>
					</div>
						{% include "includes/reviews.twig" %}
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Mechanical Design Project Examples</h2>
						</div>
					</div>
					<div class="aboutext">
						<p>Mechanical engineering is an important discipline to many sectors and is such a broad domain that there is rarely a "typical" mechanical design project. Many of Tom's best mechanical design works are either subject to NDAs or are commercially-sensitive. The few examples below hopefully provide a rough idea for the types of mechanical design he's worked on recently:</p>
						<br>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<img src="{{ assets_url }}/site/reverse-engineer-mechanical.webp" alt="A reverse engineered 3D model of a waste water treatment works scum beach fabrication." width="100%"/>
						</div>
						<div class="col-12 col-md-8">
							<h3>Waterworks Clarifier Tank - Beach Replacement Design</h3>
							<p>Tom was commissioned by a steel fabricator & site services provider to visit a water treatment works to survey an existing set of scum beaches installed in a decommissioned clarifier tank, with a view to removing & replacing with new as a stage in recommissioning the tank.</p>
							<p>The existing design had to be surveyed in detail, including the main mild steel sheet fabrications which were badly worn & corroded, as well as the support bracketry and connecting pipework. He reverse-engineered a new replacement design to meet the same functional requirements, but in a way that was much simplified, easier to install, more robust & lower-cost than the original.</p>
							<p>He produced 3D models (existing & proposed), general arrangement drawings and a full manufacturing drawing pack from which the fabricator worked to build & install the new equipment. The refurbishment project was carried out successfully first time with no TQ's, making way for the end-client to bring their clarifier tank back into full operation.</p>
							<a class="btn btn-info" href="https://www.youtube.com/watch?v=7JaHf4jJRRs" target="_blank">See an overview video here</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<img src="{{ assets_url }}/site/rupture-panel-support-frames.webp" alt="An aerial view of some generic storage silos (blast frames not visible as these aren't the actual ones worked on." width="100%"/>
						</div>
						<div class="col-12 col-md-8">
							<h3>Storage Silo - Rupture Panel Support Frame Design</h3>
							<p>Rupture panels are sacrificial foil 'windows' fitted to storage silos that are designed to break before internal pressure reaches a dangerous level, which relieves the pressure & prevents an explosion. Several large biomass storage silos required rupture panels to be installed facing upwards on a reinforced concrete roof structure.</p>
							<p>Tom was asked to come up with a design solution to mount multiple panels onto robust but cost-effective frames that could be assembled at ground level and then lifted into place & cast into the concrete roof. He generated several concept options, carried out structural analysis & verification, and then developed full manufacturing detail designs to meet a very challenging project timetable.</p>
							<p>The final design was a bespoke welded platework fabrication. Each module had more than 20 rupture panels, a central walkway, fall-protection beneath each panel and hand-railing all round. Twelve frames in total were manufactured, tested and successfully installed on the silo roofs.</p>
						</div>
					</div>
				</div>
			</section>

			{% include "includes/portfolio.twig" %}

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>The Best Mechanical Engineering Tools & Deliverables</h2>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>Tom is well equipped and experienced at producing a wide range of common mechanical engineering design deliverables. But as a chartered engineer, he also excels at researching & developing new knowledge, finding & applying the most useful tools, and identifying & producing the right deliverables to best meet the specific needs of your mechanical design project. Even if this requires him to adapt the way he works, work in new areas/sectors or stretch his current capability.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7 aboutext">
							<h3>Modern Tools for Mechanical Engineering Design</h3>
							<p>Tom uses a broad & constantly expanding engineering tool kit and aims to issue all his deliverables in neutral formats as standard, so you'll gain usable value from them right away and into the future without being forced to invest in expensive specialist software. He'll apply creativity, traditional & newly emerging engineering knowledge, and the latest 3D CAD and CAE tools to design or improve your mechanical systems and designs.</p>
						</div>
						<div class="col-12 col-md-5">
							<div class="owl-carousel owl-capabilities">
								{% include "includes/_carousel-capabilities-mechanical.twig" %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/example-deliverables.webp" alt="A short slideshow showing typical design deliverables produced by Frugal Design." width="100%"/>
						</div>
						<div class="col-12 col-md-7 aboutext">
							<h3>High-quality Mechanical Design Deliverables</h3>
							<p>You'll see your mechanical design project develop rapidly, professionally and affordably, with one engineer responsible for creating & issuing all of the deliverables, which might include:
								<ul>
									<li>3D & 2D geometry models.</li>
									<li>Symbolic / hand calculations.</li>
									<li>Engineering analysis / finite element models.</li>
									<li>Verification & validation documents for your technical file.</li>
									<li>General arrangement, assembly & part detail drawings.</li> 
									<li>Bill of materials, CNC profiles and other production documents.</li>
									<li>Misc. other supporting reports, spreadsheets & presentations.</li>
								</ul></p>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>If you can provide examples or guidance (e.g. relevant standards) Tom will often be able to produce whatever output documentation your project requires. He's even open to developing completely new & bespoke types of documentation if required. Whatever best enables you to achieve your overall project & business objectives!</p>
						</div>
					</div>
				</div>
			</section>

			<section id="svc" class="svc">
			
				<div class="container">

					<div class="row">
						<div class="col">
							<h2>Top freelance mechanical design consultant</h2>
						</div>
					</div>

					<div class="row">
						<div class="col aboutext">
							<p>With Frugal, you'll get a dedicated freelance mechanical engineer to assist you at any stage (or all stages) of the design and development process. Tom will help you best understand and frame your project. He'll create innovative concept designs. He'll engineer functional & manufacturable detail designs. He'll prepare detailed and fully referenced 3D CAD models, and he'll even prepare any additional documentation you might need to go into your technical file.</p>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<h3 class="center-align">I'll aim to give you innovative & frugal mechanical designs <br>that will help turn your mechanical ideas into reality</h3>
						</div>
					</div>

					<div class="row">
						<div class="col aboutext">
							<p>Pragmatic, adaptable, and able to produce a broad range of mechanical engineering design deliverables, Tom will adapt the way he works and produce the outputs appropriate to your current stage of design development.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/top-design-consultant.webp" alt="A mechanical engineering consultant working on a mechanical design on their laptop." width="100%"/>
						</div>
						<div class="col-12 col-md-7 aboutext">
							<p>At the concept stage, this means rough & ready designs that are mindful of the essential requirements. I.e. Scoped out designs ready to be developed into workable plans needing minimal changes to their operating principle and general topology.</p>
							<p>At the detailed stage, this means thorough & complete designs able to comply with the relevant design regulations and standards. These are defined & documented to a level that will enable your prototype & test activities, and ultimately on to final production.</p>
							<p>He can of course also adapt his approach to best match your specific needs if needed.</p>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<h3 class="center-align">Tom will help raise the quality of your mechanical designs and <br>improve your level of compliance with relevant design codes & directives</h3>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>It is good practice to design products to relevant design standards. Doing so provides a reasonable & appropriate route to complying with regulations, which contain mandatory legal requirements affecting many products.</p>
							<p>Applicable regulations and choice of design standards vary by product type and sector. So it is worth spending time at the start of a project to identify relevant regulations & design standards.</p>
							<p>Outlined below are some of the most common regulations and standards that affect the kind of mechanical designs Tom has worked on in the past:</p>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-6">
							<div class="bcboximtitle bct-orange">
								<h3>Mechanical Design Regulations</h3>
							</div>
							<ul>
								<li>2006/42/EC | Machinery Directive</li>
								<li>2014/33/EU | Lifts Directive</li>
								<li>2014/68/EU | Pressure Equipment</li>
								<li>2014/29/EU | Simple Pressure Vessels</li>
								<li>2014/34/EU | Equipment for use in Explosive Atmospheres (ATEX)</li>
								<li>89/106/EEC | Construction Products</li>
								<li>93/68/EEC | CE Marking Directive</li>
								<li>LOLER | Lifting Operations and Lifting Equipment Regulations</li>
								<li>PUWER | Provision and Use of Work Equipment Regulations</li>
								<li>DSEAR | Dangerous Substances and Explosive Atmospheres Regs</li>
							</ul>
						</div>
						<div class="col-12 col-md-6">
							<div class="bcboximtitle bct-blue">
								<h3>Mechanical Design Standards</h3>
							</div>
							<ul>
								<li>BS EN 1993 | Eurocode 3: Design of Steel Structures</li>
								<li>BS EN 13001 | Rules for the Design of Cranes</li>
								<li>BS EN 292 | Safety of machinery</li>
								<li>BS 5760 | Reliability of systems, equipment and components</li>
								<li>ASME VIII | Boiler & Pressure Vessels (Div 1 & 2)</li>
								<li>PD 5500 | Specification for unfired pressure vessels</li>
								<li>BS EN 14015 | Site built welded steel tanks</li>
								<li>BS 8888 | Technical product documentation and specification</li>
								<li>BS EN ISO 286 | Basis of tolerances, deviations & fits</li>
								<li>BS 22768 | General tolerances</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Your best option for mechanical engineering design?</h2>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>When it comes to progressing your mechanical design projects, there are many options you might consider. Frugal is a UK-based professional freelance mechanical engineering design consultancy, and so sits at number three on the following list of options:</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<img src="{{ assets_url }}/site/consultant-options.webp" alt="A cartoon representing a potential customer unsure which option to choose when it comes to getting their mechanical project delivered." width="100%"/>
						</div>
						<div class="col-12 col-md-8">
							<ol>
								<li>Commission a mechanical engineering design consultancy</li>
								<li>Hire a mechanical engineering design contractor</li>
								<li>Hire a professional freelance mechanical engineering design consultant</li>
								<li>Hire a low-cost freelance mechanical designer</li>
								<li>Employ a mechanical engineer or mechanical designer</li>
								<li>Employ mechanical engineering graduates or apprentices</li>
								<li>Run a mechanical design competition or university linked project</li>
								<li>Try and do the work yourself / in-house</li>
								<li>Do nothing, procrastinate, and look at it again in a year!</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<h3 class="center-align">A freelance mechanical engineering design consultant can be <br>a great option for a wide range of clients across a broad range of sectors</h3>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>All the preceding options have pros and cons that you should consider carefully and realistically. Important things to consider when engaging the services of a mechanical engineer include:</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7">
							<ul>
								<li>Their cost & overall value/ROI (these are different things)</li>
								<li>Their knowledge & capability</li>
								<li>The quality of their deliverables</li>
								<li>Their responsiveness & commitment to your objectives</li>
								<li>Their reliability & risk of project failure</li>
								<li>Their capacity & anticipated lead-times</li>
								<li>Their deference (or not!!) to regulations, codes & standards</li>
								<li>Whether they quote fixed-fee or hourly</li>
								<li>How they report time & justify their charges</li>
								<li>What part(s) of the task will be out-of-scope to them</li>
							</ul>
						</div>
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/things-to-consider.webp" alt="A notepad with 'Things to Consider' written on it in black marker pen." width="100%"/>
						</div>
					</div>
					<div class="row">
						<div class="col center-align">
							<h3>The best mechanical design consultant is the one who <br>can create and add the maximum value to your overall project</h3>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>Probably most important is whether you feel the mechanical designer you are working with really understands and cares about your overall project, or whether they care only about delivering their limited contract scope to the letter and delivering the bare minimum to allow them to move onto the next project as soon as possible.</p>
						</div>
					</div>				

				</div>
			</section>

			<section id="svc" class="svc-iso">
				<div class="container">
					
					<div class="cbox">
						<br>
						<h2>With you throughout your <br>Mechanical design development journey</h2>
						<div class="cboxtext">
							<div class="aboutext">
								<p>Hiring an independent freelancer might not be your first thought when it comes to finding a mechanical design consultant, but there are benefits in doing so. Their agility & independence can be a key factor in the success of many project types for many different types of customer, and when compared to the other options, a freelancer's professional service can provide a competitive alternative on numerous fronts, including:</p>
							</div>
							<h3>&#10003; Being more cost-effective</h3>
							<h3>&#10003; Better quality work</h3>
							<h3>&#10003; More responsive & pragmatic</h3>
							<h3>&#10003; Low-risk & less commitment on your part</h3>
							<h3>&#10003; More invested, motivated & cares more about your overarching project</h3>				
							<br>
							<div class="aboutext">
								<p>Frugal has created value for a broad range of clients since 2012 in both subcontractor and independent freelancer capacities. And before Frugal Tom's professional work saw him deliver similar value for his previous employers and their many & varied end-clients.</p>
								<p>Just a small sample of firms Tom has worked with includes:</p>
							</div>

							<div class="row">
								{% include "includes/_client-logos.twig" %}
							</div>

							<div class="aboutext">
								<p>Frugal is therefore able to draw upon significant experience of delivering mechanical design services for businesses that have included D&B contractors, OEMs, fabricators, owner-operators, architects, R&D partners and other design consultants.</p>
								<a class="btn btn-info" href="#contact">Please get in touch today if you require references</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section" id="contact">
				<div class="container">
					<div class="title">
						<h2>Let's talk mechanical engineering design</h2>
						<div class="titleline"></div>
					</div>
					<div class="aboutext">
						<p>If you have a mechanical project in mind, or if you just have a question to ask, then please feel free to get in touch today:</p>
					</div>
					{% include "includes/contact.twig" %}
			    </div>
			</section>
			
			{% include "includes/footer.twig" %}

			{% include "includes/js.twig" %}
            <script src="{{ theme_url }}/js/frugal-home.js"></script>

		</body>
		
	</html>