<!DOCTYPE html>

	<html lang="en-GB">
	
        <head>
		    {% include "includes/head.twig" %}
		</head>
		
		<body>

			{% include "includes/nav.twig" %}

			<section class="banner" id="software">
				<div class="banner-item">
					<div class="container">
						<div class="banner-text">
							<h1><div class="h1-intro">Hire an experienced professional </div>Freelance Systems Developer</h1>
							<a class="btn btn-primary" href="#contact">LET'S TALK SYSTEMS</a>
						</div>
					</div>
				</div>
				<div id="intro">
					<div class="container aboutext">
						<div class="inline-heading">
							<h2>SYSTEMS DEVELOPMENT </h2>
							<p>is the process of defining requirements, interfaces & constraints and designing, prototyping, testing & implementing new (or improved) software & processes to better support various activities carried out by organisations. It is a complex & iterative process that calls for a broad range of skills, problem-solving & programming competence. It also requires diligence, attention to detail and the ability to research, understand & integrate an ever-expanding array of modern libraries, frameworks, techniques & tools. In many ways, it is very similar to the kind of physical product design development that is Frugal's core competence, though it has a slightly different toolset and a more abstract set of outputs & success criteria.</p>
						</div>
						<br>
						<p>Frugal offers professional systems development consulting that can help a broad range of sectors. To discuss your requirements and for a quotation, call Tom on <a href="tel:+44(0)7376718310">07376 718 310</a> or email <a href="mailto:hello@frugaldesign.co.uk">hello@frugaldesign.co.uk</a>.</p>
					</div>
				</div>
			</section>

			<section id="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Outsource systems development to Frugal</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-3">
							<img src="{{ assets_url }}/site/systems-man.webp" alt="A systems development engineer working on a systems problem." width="100%"/>
						</div>
						<div class="col-12 col-md-9 aboutext">
							<p>Frugal can act as your independent external systems development consultant to support your in-house team on an ad-hoc freelance basis, or a temporary/part-time subcontract basis. By commissioning Frugal and working directly with our Principal Engineer & director Tom Hartley, your systems development project will be making good progress in no time.</p>
							<p>Tom can research, devise & implement new systems, processes, databases or software to improve the way you deliver engineering, design, manufacturing and other tasks.</p>
							<p>Tom is a self-taught but experienced programmer & database developer, a 3D CAD/CAE manager, a Chartered Mechanical Engineer, and a member of the Institute of Engineering Designers. From his office in Hull, East Yorkshire, he offers systems development services in areas like:</p>
						</div>
					</div>

					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><h4>+ Information Management Systems</h4></a>
								</h3>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/systems-information-management.webp" alt="MS Access, MS Excel, MS Outlook, MS Sharepoint, SQL, and other platforms used to store and manage information." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Information Management Systems (IMS) are database-centric systems designed to facilitate the storage, organisation & retrieval of information. Their intent is usually to better support decision-making, coordination, control, analysis & visualisation of the organisation's information.</p>
											<p>Tom has developed numerous information management systems with backends including MS Access, MySQL, SQLite, MongoDb, MongoDb Atlas. He's also created bespoke front-ends with MS Access, Excel, VBA, C# & WinForms.</p>
											<p>Tom's experience in this area has included developing: ISO 19650 project information management systems (PIM), ISO 9001 Design Development Planning & Control Systems, Bill of Materials / Inventory Management Systems, and Bespoke Automated Document & File Management Systems.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><h4>+ Engineering, Design & Manufacturing Processes</h4></a>
								</h3>
							</div>
							<div id="collapse5" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/systems-eng-des-manf-processes.webp" alt="Schematic representation of the elements of a single process." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>At their most simple, processes are actions carried out on a set of inputs to turn them into a set of desired outputs. Most firms carrying out engineering, design or manufacturing have operatives executing hundreds of processes every day. Some of these processes might have evolved gradually over many years to have become tedious, inefficient or prone to error.</p>
											<p>Tom has significant experience developing & simplifying business processes, policies & work instructions. This includes setting up data environments & intelligent template documents to make it easy & intuitive for users to do the right thing without needing copious amounts of training, oversite or error-checking.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><h4>+ Small Business & Office Automation</h4></a>
								</h3>
							</div>
							<div id="collapse2" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/systems-automation.webp" alt="The office of a small business benefitting from MS Office Automation." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>It's common for office & small business software to be under-utilised with many features & capabilities not being exploited to their full potential. Especially where the software has an underlying automation platform - like VBA - many of the most tedious, time-consuming or error-prone tasks can usually be automated to some extent, to save time, increase quality & reduce costs.</p>
											<p>Tom has significant experience with the MS Office software suite, as well as with VBA & other supporting technologies which he's leveraged for years to automate tasks for his clients and in his work.</p>
											<p>Examples of automation Tom has set up includes document generation, document filing, file duplicate checking, mail/email shots, CAD standards checking, auto-complete algorithms, double/multiple entry automation and much more...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><h4>+ Template Documents, Macros & Scripts</h4></a>
								</h3>
							</div>
							<div id="collapse3" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/systems-templates-and-scripts.webp" alt="An MS Excel template document or calculator built using various macros & scripts." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Templates are pre-formatted documents or files that increase the speed, quality & consistency of business document creation. They can be for manual use (people manually entering data) or automated (databases or other systems automatically inserting data). Good templates only require the bare essential data to be entered, usually follow pertinent standards, and minimise duplicate entry requirements. Some templates deploy macros or scripts to automate some data entry or processing that a user might typically have to do manually.</p>  
											<p>Tom has experience designing & programming a wide range of templates including drawing borders, calculators / standard calculations, pro-forma reports, quotes, invoices & purchase orders, data entry forms, data collection forms, automated spreadsheets & much more...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><h4>+ Software Installation, Configuration & Support</h4></a>
								</h3>
							</div>
							<div id="collapse4" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/systems-install-config.webp" alt="Technical software installation and configuration examples including Solidworks, AECOsim and Ansys." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Many pieces of business software - particularly in engineering, design & manufacturing - can be complicated & difficult to install & set up effectively. Rather than being just a one-click install, there can be important considerations to make. E.g. Where & how will the program's data will be stored & shared by all its (sometimes remote) users? How will user licensing or license sharing be handled? How will the software and any templates be configured to correctly implement business standards? How will the system interact & integrate with other business systems?</p>
											<p>Tom has experience planning, implementing, configuring, integrating & supporting software systems that have included: 3D CAD systems (SolidWorks + PDMWorks), BIM systems (AECOsim), CAE systems (Ansys, STAAD), plus several different bespoke business database systems variously involving MS Access, SQL servers, web-based APIs and other proprietary systems.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>	

			<section id="reviews">
				<div id="svc">
					<div class="row">
						<div class="col">
							<h2>WHAT THE CLIENTS SAY</h2>
						</div>
					</div>
						{% include "includes/reviews.twig" %}
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Systems Development Project Examples</h2>
						</div>
					</div>
					<div class="aboutext">
						<p>Tom's systems development experience has tended to focus on engineering, design & manufacturing, as these are areas he is familiar with from his work as an engineering designer. Below are a few examples of systems development projects Tom has delivered:</p>
						<br>
					</div>

					<div class="row">
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="bcboximtitle bct-orange">
									<h3>FLERP System</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>A lightweight "freelance ERP" system that automated & improved quality, project & document management for freelance & independent contractor work-loads.</p>
									<p>Produced using C# with a DevExpress UI and a MongoDB backend, Tom used the system for his own records management as a freelancer between 2013-2019.</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="bcboximtitle bct-green">
									<h3>DDP System</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>Design Development Planning system made with MS Access & VBA to manage a manufacturer's in-house design projects & CE technical files in line with ISO 9001 & other guidance.</p>
									<p>Tom devised & wrote the design development process & procedures for the firm's quality manual. The system passed its first external quality audit with only one minor comment.</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="bcboximtitle bct-blue">
									<h3>FMMS System</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>Frugal Model Management System is a functional/live prototype developed in MS Access + VBA to manage 3D model-based projects, their WBS & the associated project information.</p>
									<p>The system controls a lightweight CDE & has BIM-like functionality + many automation features that promote better design development in line with standards like ISO 19650 & BS 7000.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="bcboximtitle bct-blue">
									<h3>BOM System</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>Tom rebuilt a manufacturer's legacy bill-of-materials database - from DataEase, a DOS-based RDBMS - into MS Access + VBA and migrated all the live data to the new system.</p>
									<p>Challenges included efficiently traversing nested assembly trees, detecting circular references, and optimising the system to beat the performance of the legacy system.</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="bcboximtitle bct-orange">
									<h3>3D CAD & CAE</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>Tom researched & evaluated the most appropriate new 3D CAD & 3D CAE systems to best fit a manufacturer's needs as a part of setting up their new in-house design function.</p>
									<p>He also managed the procurement, deployment, configuration, training & legacy data migration programme to the new system (Solidworks, PDMWorks & Multiframe 4D).</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="cbox">
								<div class="bcboximtitle bct-green">
									<h3>Batch Processing</h3>
								</div>
								<div class="cboxtext aboutext">
									<p>Tom has created many batch processing procedures to speed up & increase consistency of business tasks done in Windows, Excel, Access & Word, by using VBA, C# & SQL.</p>
									<p>An example was writing code to automate the clean-up of point clouds from a coordinate-measuring machine to correct for measurement tolerances & group the points into flat planes.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>The Best Systems Development Tools & Deliverables</h2>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>Tom is well equipped and experienced in software & systems projects for engineering, design and manufacturing business. As a chartered engineer, he excels at research & development, finding & applying the most useful tools, and planning & producing the deliverables that will best meet your specific organisational needs. Even when this requires him to adapt the way he works, work in new areas/sectors or stretch his current knowledge & capability.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7 aboutext">
							<h3>Modern Tools for Systems Development</h3>
							<p>Tom uses a broad & expanding development tool kit and aims to make maximum use of low-cost & open source solutions where possible, so you can gain usable value from his work right away and into the future without needing to invest in expensive specialist software or software licenses. He'll apply creativity, traditional & newly emerging technology, and modern software development approaches to create or improve your business systems & processes.</p>
						</div>
						<div class="col-12 col-md-5">
							<div class="owl-carousel owl-capabilities">
								{% include "includes/_carousel-capabilities-systems.twig" %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/systems-deliverables.webp" alt="A Visual Studio screenshot showing a simple C# console application developed by Frugal." width="100%"/>
						</div>
						<div class="col-12 col-md-7 aboutext">
							<h3>High-quality Systems Development Outputs</h3>
							<p>You'll see your systems project  develop rapidly, professionally and affordably, with a capable engineer responsible for creating & issuing all of your deliverables that could include:
								<ul>
									<li>Initial research & feasibility studies</li>
									<li>Functional specifications</li>
									<li>Functioning prototypes for live test or low-volume production</li>
									<li>Clear, concise & intuitive user interfaces</li>
									<li>Optimised & appropriately normalised databases</li>
									<li>Good quality, efficient & clean code</li>
									<li>Help documentation & training material</li>
									<li>Supporting reports, spreadsheets & presentations</li>
								</ul>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>If you can provide examples or guidance (e.g. relevant standards) Tom will often be able to produce whatever output documentation your project requires. He's even open to developing completely new & bespoke types of documentation if required. Whatever best enables you to achieve your overall project & business objectives!</p>
						</div>
					</div>
				</div>
			</section>

			<section id="svc" class="svc-iso">
				<div class="container">
					
					<div class="cbox">
						<br>
						<h2>With you throughout your systems development journey</h2>
						<div class="cboxtext">
							<div class="aboutext">
								<p>Hiring an independent freelancer might not be your first thought when it comes to finding the best systems developer, but there are benefits in doing so. Their agility & independence can be a key factor in the success of many project types for many different types of customer, and when compared to the other options, a freelancer's professional service can provide a competitive alternative on numerous fronts, including:</p>
							</div>
							<h3>&#10003; Being more cost-effective</h3>
							<h3>&#10003; Better quality work</h3>
							<h3>&#10003; More responsive & pragmatic</h3>
							<h3>&#10003; Low-risk & less commitment on your part</h3>
							<h3>&#10003; More invested, motivated & cares more about your overarching project</h3>				
							<br>
							<div class="aboutext">
								<p>Frugal has created value for a broad range of clients since 2012 in both subcontractor and independent freelancer capacities. And before Frugal Tom's professional work saw him deliver similar value for his previous employers and their many & varied end-clients.</p>
								<p>Just a small sample of firms Tom has worked with includes:</p>
							</div>
							<div class="row">
								{% include "includes/_client-logos.twig" %}
							</div>
							<div class="aboutext">
								<p>Tom is therefore able to draw upon significant experience of delivering complex systems & software development services for businesses that have included D&B contractors, OEMs, fabricators, owner-operators, architects, R&D partners and other design consultants.</p>
								<a class="btn btn-info" href="#contact">Please get in touch today if you require references</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section" id="contact">
				<div class="container">
					<div class="title">
						<h2>Let's talk systems development</h2>
						<div class="titleline"></div>
					</div>
					<div class="aboutext">
						<p>If you have a systems development project in mind, or if you just have a question to ask, then please feel free to get in touch today:</p>
					</div>
					{% include "includes/contact.twig" %}
			    </div>
			</section>
			
			{% include "includes/footer.twig" %}

			{% include "includes/js.twig" %}
            <script src="{{ theme_url }}/js/frugal-home.js"></script>

		</body>
		
	</html>