<!DOCTYPE html>

	<html lang="en-GB">
	
        <head>
		    {% include "includes/head.twig" %}
		</head>
		
		<body>

			{% include "includes/nav.twig" %}

			<section class="banner" id="structural">
				<div class="banner-item">
					<div class="container">
						<div class="banner-text">
							<h1><div class="h1-intro">Hire an experienced professional </div>Freelance Structural Designer</h1>
							<a class="btn btn-primary" href="#contact">LET'S TALK STRUCTURAL</a>
						</div>
					</div>
				</div>
				<div id="intro">
					<div class="container aboutext">
						<div class="inline-heading">
							<h2>Structural Engineering Design </h2>
							<p>is a process of developing complex structural systems largely made up of simpler structural elements such as columns, beams, plates, bolts and welds, in a well thought out way that can safely & effectively transfer all the applied loadings into appropriate supports. Well-designed structures must have strength, stability and stiffness appropriate to their intended use & function, and a good designer will from the outset take account of this, as well as any interfacing structures/equipment, the local environment, and many other defined and often overlooked requirements & constraints.</p>
						</div>
						<br>
						<p>Frugal offers a professional structural engineering design service that can benefit a broad range of sectors. To discuss your requirements and for a quotation, call Tom on <a href="tel:+44(0)7376718310">07376 718 310</a> or email him at <a href="mailto:hello@frugaldesign.co.uk">hello@frugaldesign.co.uk</a></p>
					</div>
				</div>
			</section>

			<section id="svc">
				<div class="container">
					<div class="row">
						{# <div class="col"> #}
							<h2>Outsource structural engineering design to Frugal</h2>
						{# </div> #}
					</div>
					<div class="row">
						<div class="col-12 col-md-3">
							<img src="{{ assets_url }}/site/structural-man.webp" alt="A mechanical engineer working on a 3D design model." width="100%"/>
						</div>
						<div class="col-12 col-md-9 aboutext">
							<p>Frugal can provide external structural design support to your in-house design team on an ad-hoc freelance basis, or a temporary or part-time subcontract basis. By commissioning Frugal and working directly with it's Principal Engineer & director Tom Hartley, your structural projects will be up and running in no time!</p>
							<p>Tom is an experienced mechanical engineer and structural designer, a member of the Institute of Mechanical Engineers since 2002, a Chartered Mechanical Engineer since 2012, and a member of the Institute of Engineering Designers.</p>
							<p>From his office in Kingston Upon Hull, Yorkshire, he offers structural engineering design services in areas that have included:</p>
						</div>
					</div>

					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><h4>+ Complex Fabricated Structures</h4></a>
								</h3>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/complex-fabricated-structure.webp" alt="A 3D detail model of a complex fabricated structure." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Many structures use tried and tested combinations of standard structural elements aligned to orthographic planes with a range of standard structural details. This approach is good for straightforward projects, but more challenging requirements may mean a more complex bespoke structure needs to be designed.</p>
											<p>Tom specialises in the design of fabricated structural frames and plate work where the interfacing geometry is complex and where the design requirements and constraints are difficult to address using only standard details or common layouts. He has significant experience designing complex bespoke structural frames for medium to heavy engineering applications in sectors including nuclear decommissioning, energy, construction, materials handling and manufacturing.</p>
											<p>His past designs have included; machine frames & chassis, sculpture/statue support frames, equipment support frames, and various platforms & walkways with complex or challenging design requirements.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><h4>+ Reverse Engineering of Legacy Structural Designs</h4></a>
								</h3>
							</div>
							<div id="collapse2" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/reverse-engineer-structural.webp" alt="A close-up showing part of a very old legacy hand-drawn structural design drawing." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Reverse engineering involves researching (or surveying) & deconstructing a structure to determine its principles of construction and structural performance. The design details are recorded & documented to support future structural design development activities.</p>
											<p>Tom has significant experience in reverse engineering, a skill-set well matched to its many challenges, and a range of modern design tools & methods at his disposal. Tom documents his reverse engineered designs as information-rich 3D models that provide a good baseline/reference for discussion & development work.</p>
											<p>Tom's research development can create an incredible amount of detail & insight into a project based on as little as a partial set of heritage drawings, photos, or even simply basic measurements.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><h4>+ Access Ramps, Platforms & Walkways</h4></a>
								</h3>
							</div>
							<div id="collapse3" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/access-ramps-platforms-walkways.webp" alt="A 3D concept model for an access platform installation, with some of its general arrangement drawings and calculations in the background." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Access ramps, platforms and walkways include structures whose purpose is to enable safe access - usually for construction or maintenance operatives - to elevated, sunken or remote positions. They include scaffolds, building & vehicle access ramps or bridging plates, access walkways, gangways, ladders, handrails, moving gantries, and suspended access platforms.</p>
											<p>Tom has extensive expertise producing front-end engineering designs for a wide range of complicated and varied access solutions for site maintenance, nuclear decommissioning activities, and numerous construction schemes.</p>
											<p>Some of the access structures he's designed have included; mobile yard ramps, modular platforms, bridge maintenance gantries, bespoke work platforms, and many industrial walkway installations.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><h4>+ Support Frames for Services & Equipment</h4></a>
								</h3>
							</div>
							<div id="collapse4" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/support-frames-services-equipment.webp" alt="A 3D design model of a conveyor support structure including transfer towers, conveyor gantries and trestles." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>Support structures are required when a piece of equipment needs to be supported in a specific location. This might range from discrete installations like lights, signals & sign-boards, up to continuous/linear installations like conveyors, pipework or cable ducting.</p>
											<p>Tom has developed many support frames for a multitude of purposes across many different sectors. He is able to deliver rapid structural frame designs and provide comprehensive manufacturing drawings, strength & stability calculations as well as 3D models.</p>
											<p>Some of the support frames he's designed have included: conveyor trestles, machine skid mounts, service gantries, pipe supports / pipe bridges / pipe gantries, signalling gantries, and sign boards.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><h4>+ Transport Frames & Stillages</h4></a>
								</h3>
							</div>
							<div id="collapse5" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-12 col-md-4">
											<img src="{{ assets_url }}/site/transport-frames-stillages.webp" alt="A bespoke transport frame designed specifically for the piece of equipment shown, all sat on the back of a low loader lorry." width="100%"/>
										</div>
										<div class="col-12 col-md-8">
											<p>A transport frame or stillage is a structure whose function is to securely hold objects in a safe orientation & position for a specific purpose. Transport stillages may be disposable, only to be used once before being scrapped, or could be reusable. They might also be required to hold equipment in its as-installed position during factory acceptance tests.</p>
											<p>Tom has developed numerous transport frames, for equipment he's designed as well as for standalone designs. He is able to carry out rapid fabricated frame design and provide comprehensive manufacturing drawings, strength & stability calculations as well as 3D models.</p>
											<p>Some of the transport stillage designs he’s developed have included; process equipment test stillages, work holding & manipulation frames, glass stillages, steel storage shelving/stillages, and various other bespoke transport frames.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="reviews">
				<div id="svc">
					<div class="row">
						<div class="col">
							<h2>What the clients say</h2>
						</div>
					</div>
						{% include "includes/reviews.twig" %}
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Structural Design Project Examples</h2>
						</div>
					</div>
					<div class="aboutext">
						<p>Tom most commonly takes on structural steel projects that involve engineering or industrial structures, and he tends NOT to get involved in commercial & residential building design. His work most often involves structural steel member/plate designs with bolted/welded connections, but he's also open to working with other materials when required. Much of his best structural work is commercially-sensitive or subject to NDA, but the few generalised examples below hopefully give a rough idea for the type of structural work he's delivered recently:</p>
						<br>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<img src="{{ assets_url }}/site/complex-structural-support-frame.webp" alt="A 3D detail model of an artists sculpture, shown transparent, so that the underlying complex structural support frame design can be seen." width="100%"/>
						</div>
						<div class="col-12 col-md-8">
							<h3>Public Artwork Installation - Structural Frame Concept Design</h3>
							<p>Tom was commissioned to design a fabricated structural frame to support a complex reinforced concrete sculpture of a female form/bust that had complex organic geometry & limited internal space to suitably house the support frame.</p>
							<p>He worked to develop an efficient frame that was easy to build and that sat as closely as possible to the internal walls of the sculpture, thus minimising the weight of make-up plate-work needed to take up the gaps. The frame used steel hollow sections and reinforcing plates where necessary and was split into two pieces for transportation. Tom devised & incorporated a self-aligning shear pin and bolted connection at the neck join to facilitate faster & safer site assembly.</p>
							<p>The client and his local structural engineer were very happy with the design - which was quite different to their usual approach with similar structures - as well as the quality & value in the deliverables. Tom also provided additional supporting information on his design process to the client's engineer so that he could potentially produce similar designs himself in future.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<img src="{{ assets_url }}/site/access-platform-support-frame.webp" alt="A 3D detail design model of a woodchip hopper platform with CAT ladder and handrails." width="100%"/>
						</div>
						<div class="col-12 col-md-8">
							<h3>Hopper & Access Platform - Concept to Manufacture Design</h3>
							<p>Tom was commissioned to develop a hopper & access platform structure to support another freelance engineering designer working on the delivery of a larger scheme for a wood-chip handling facility. The hopper interfaced with the tail end of a conveyor (not shown) and featured; the main platform structure, a durbar gangway, CAT ladder, handrailing all around and a stainless steel hopper with fall guards & vibrator.</p>
							<p>Working from the client's initial sketch, Tom 3D modelled concept geometry and rationalised the initial design to reduce the number of unique parts. He developed load cases to be approved by the end-client and then carried out a static structural analysis to Eurocode 3 using STAAD & traditional hand calculations. Finally, he produced a full fabrication detail package including 3D model, general arrangement & part detail drawings plus a detailed bill of materials (BOM).</p>
							<p>The structure was fabricated and tested without the need for any technical queries (TQs) or any drawing revisions, and it went on to be shipped to site for successful integration with the wider scheme.</p>
						</div>
					</div>
				</div>
			</section>

			{% include "includes/portfolio.twig" %}

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Top freelance structural design consultant</h2>
						</div>
					</div>

					<div class="row">
						<div class="col aboutext">
							<p>With Frugal, you'll get a dedicated freelance structural engineering designer to assist you at any stage (or all stages) of the design and development process. Tom will help you understand and visualise your ideas. He'll generate innovative concept designs. He'll engineer efficient & cost-effective detail designs. He'll prepare detailed and fully referenced 3D CAD models & BIM data, and he'll even prepare any additional documentation you might need for your verification/validation (V&V) activities or technical file.</p>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<h3 class="center-align">I aim to assist you in transforming your structural ideas into reality <br>by providing you with innovative, buildable, and frugal structural designs</h3>
						</div>
					</div>

					<div class="row">
						<div class="col aboutext">
							<p>Tom will tailor his working style and generate the outputs that are appropriate for your present stage of design development. He is pragmatic, versatile, and capable of producing a wide range of mechanical engineering design deliverables.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/top-design-consultant.webp" alt="A structural engineering consultant working on a structural design on their laptop." width="100%"/>
						</div>
						<div class="col-12 col-md-7 aboutext">
							<p>At the concept stage, this means rough & ready designs that remain conscious of the essential requirements. I.e. Scoped out 3D structural plans ready to be developed into workable plans with only minimal changes to the structural principles and overall topology.</p>
							<p>At the detailed stage, this means thorough & complete 3D structural plans able to comply with relevant design regulations and standards such as Eurocode. These will be defined & documented to a level that will allow successful manufacture, testing, transportation and on-site erection.</p>
							<p>He can of course also adapt his approach to best meet your specific needs if needed.</p>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<h3 class="center-align">Tom will help raise the quality of your structural designs and <br>improve your level of compliance with relevant structural standards & directives</h3>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>It is good practice to design your structures to the most appropriate design standards. Doing so provides a reasonable & appropriate route to complying with regulations, which contain mandatory legal requirements for construction designs.</p>
							<p>Applicable regulations and choice of design standards vary by structure type and sector. So it is worth spending time at the start of a project to identify relevant regulations & the most appropriate design standards. Outlined below are a range of regulations and standards that might typically affect the kind of structural designs that our clients ask us to develop:</p>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-6">
							<div class="bcboximtitle bct-orange">
								<h3>Structural Design Regulations</h3>
							</div>
							<ul>
								<li>The Construction (Design and Management) Regulations</li>
								<li>The Building Regulations</li>
								<li>89/106/EEC | Construction Products Regulations</li>
								<li>2014/68/EU | Pressure Equipment Regulations</li>
								<li>2014/29/EU | Simple Pressure Vessels</li>
								<li>2014/34/EU | Equipment for use in Explosive Atmospheres (ATEX)</li>
								<li>PSSR | Pressure Systems Safety Regulations</li>
								<li>LOLER | Lifting Operations and Lifting Equipment Regulations</li>
								<li>PUWER | Provision and Use of Work Equipment Regulations</li>
								<li>DSEAR | Dangerous Substances and Explosive Atmospheres Regs</li>
							</ul>
						</div>
						<div class="col-12 col-md-6">
							<div class="bcboximtitle bct-blue">
								<h3>Structural Design Standards</h3>
							</div>
							<ul>
								<li>BS EN 1990 | Basis of structural design</li>
								<li>BS EN 1991 | Eurocode 1: Actions on structures</li>
								<li>BS EN 1993 | Eurocode 3: Design of steel structures</li>
								<li>BS EN 10025 | Hot rolled products of structural steels</li>
								<li>BS EN 1090 | Structural steel and aluminium CE/UKCA marking</li>
								<li>BS 5493 | Protective coating of iron & steel structures for corrosion</li>
								<li>BS EN ISO 2553 | Welding and allied processes</li>
								<li>BS EN ISO 1461 | Hot dip galvanized coatings</li>
								<li>BS 5950 | Structural use of steelwork in buildings</li>
								<li>BS 6399 | Loading for buildings</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>The Best Structural Engineering Tools & Deliverables</h2>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>Tom is well equipped and experienced at producing a wide range of common structural engineering design deliverables. But as a chartered engineer, he also excels at researching & developing relevant new knowledge, finding & applying the most useful tools, and identifying & producing the right deliverables to best meet the specific needs of your structural design project. Even if this requires him to change the way he works, work in new areas/sectors, or stretch his current capability.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7 aboutext">
							<h3>Modern Tools for Structural Engineering Design</h3>
							<p>Tom employs a diverse and ever-expanding set of engineering tools, and he strives to give all of his deliverables in neutral formats as standard, so you can get immediate and long-term value from them without having to invest in costly specialised software. He'll apply creativity as well as traditional & newly emerging engineering knowledge, and the latest 3D CAD and CAE tools to design or improve your structural systems and designs.</p>
						</div>
						<div class="col-12 col-md-5">
							<div class="owl-carousel owl-capabilities">
								{% include "includes/_carousel-capabilities-structural.twig" %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/example-deliverables.webp" alt="A short slideshow showing typical design deliverables produced by Frugal Design." width="100%"/>
						</div>
						<div class="col-12 col-md-7 aboutext">
							<h3>High-quality Structural Design Deliverables</h3>
							<p>Your structural design project will progress quickly, professionally, and economically, thanks to a single engineer who'll be in charge of generating and providing all deliverables, which may include:
								<ul>
									<li>3D & 2D geometry models.</li>
									<li>Symbolic / hand calculations.</li>
									<li>Engineering analysis / finite element models.</li>
									<li>Verification & validation documents for your technical file.</li>
									<li>General arrangements & fabrication detail drawings.</li> 
									<li>Bill of materials, cut lists, CNC profiles and other production documents.</li>
									<li>Misc. other supporting reports, spreadsheets & presentations.</li>
								</ul></p>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>If you have other documentation needs and can provide examples or guidance (e.g. relevant standards) Tom will often be able to produce whatever output documentation your project requires. He's even open to developing completely new & bespoke types of documentation if required. Whatever best enables you to achieve your overall project objectives!</p>
						</div>
					</div>
				</div>
			</section>

			<section id="svc" class="svc">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Your best option for structural engineering design?</h2>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>When it comes to progressing your structural design projects, there are many options you might consider. Frugal is a UK-based professional freelance structural engineering design consultant, and so sits at number three on the following list of options you could consider:</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">
							<img src="{{ assets_url }}/site/consultant-options.webp" alt="A cartoon representing a potential customer unsure which option to choose when it comes to getting their structural project delivered." width="100%"/>
						</div>
						<div class="col-12 col-md-8">
							<ol>
								<li>Commission a structural engineering design consultancy</li>
								<li>Hire a structural engineering design contractor</li>
								<li>Hire a professional freelance structural engineering design consultant</li>
								<li>Hire a low-cost freelance structural designer</li>
								<li>Employ a structural designer or structural engineer</li>
								<li>Employ structural engineering graduates or apprentices</li>
								<li>Run a structural design competition or university linked project</li>
								<li>Try and do the work yourself / in-house</li>
								<li>Do nothing, procrastinate, and look at it again in a year!</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<h3 class="center-align">A freelance structural engineering design consultanty can be <br>a great option for a wide range of clients across a broad range of sectors</h3>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>All the preceding options have pros and cons that you should consider carefully and realistically. Important things to consider when engaging the services of a structural designer include:</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7">
							<ul>
								<li>Their cost & overall value/ROI (these are different things)</li>
								<li>Their knowledge & capability</li>
								<li>The quality of their deliverables</li>
								<li>Their responsiveness & commitment to your objectives</li>
								<li>Their reliability & risk of project failure</li>
								<li>Their capacity & anticipated lead-times</li>
								<li>Their deference (or not!!) to regulations, codes & standard practice</li>
								<li>Whether they quote fixed-fee or hourly</li>
								<li>How they report time & justify their charges</li>
								<li>What part(s) of the task will be out-of-scope to them?</li>
							</ul>
						</div>
						<div class="col-12 col-md-5">
							<img src="{{ assets_url }}/site/things-to-consider.webp" alt="A notepad with 'Things to Consider' written on it in black marker pen." width="100%"/>
						</div>
					</div>
					<div class="row">
						<div class="col center-align">
							<h3>The best structural design consultant is the one who can create and <br>add the maximum value to your overall project & business</h3>
						</div>
					</div>
					<div class="row">
						<div class="col aboutext">
							<p>Probably the most important factor to consider is whether you believe the structural designer you're working with truly understands and cares about your entire project, or if they only care about following their limited contract scope to the letter and completing the bare minimum so they can move on to the next project as soon as possible.</p>
						</div>
					</div>				

				</div>
			</section>

			<section id="svc" class="svc-iso">
				<div class="container">
					
					<div class="cbox">
						<br>
						<h2>With you for the entire process of <br>structural design development</h2>
						<div class="cboxtext">
							<div class="aboutext">
								<p>When it comes to choosing a structural design consultant, hiring an independent freelancer may not be your first instinct, but there are many advantages to doing so. Our flexibility and autonomy can be critical to the success of a wide range of projects for a wide range of customers, and when compared to alternative options, a freelancer's professional service can offer a competitive alternative on several fronts, including:
							</div>
							<h3>&#10003; Being more cost-effective</h3>
							<h3>&#10003; Better quality work</h3>
							<h3>&#10003; More responsive & pragmatic</h3>
							<h3>&#10003; Low-risk & less commitment on your part</h3>
							<h3>&#10003; More invested, motivated & cares more about your overarching project</h3>				
							<br>
							<div class="aboutext">
								<p>Since 2012, Frugal has added value to a wide spectrum of clients as a subcontractor and independent freelancer. Prior to Frugal, Tom's professional career saw him provide similar value to his former employers and their numerous and diverse end-clients.</p>
								<p>A few companies that Tom has worked with during his engineering career:</p>
							</div>
							<div class="row">
								{% include "includes/_client-logos.twig" %}
							</div>
							<div class="aboutext">
								<p>Frugal is therefore able to draw upon significant experience of delivering structural design services for businesses that have included D&B contractors, OEMs, fabricators, owner-operators, architects, R&D partners and other design consultants.</p>
								<p>As a result, Frugal can depend on a broad experience of providing structural design services to organisations such as fabricators, OEMs, D&B contractors, architects, owner-operators, R&D partners and other design consultants.</p>
								<a class="btn btn-info" href="#contact">Please get in touch today if you require references</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section" id="contact">
				<div class="container">
					<div class="title">
						<h2>Let's talk structural engineering design</h2>
						<div class="titleline"></div>
					</div>
					<div class="aboutext">
						<p>If you have a structural project in mind, or if you just have a question to ask, then please feel free to get in touch today:</p>
					</div>
					{% include "includes/contact.twig" %}
			    </div>
			</section>
			
			{% include "includes/footer.twig" %}

			{% include "includes/js.twig" %}
            <script src="{{ theme_url }}/js/frugal-home.js"></script>

		</body>
		
	</html>